<section>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="page-header">Photos</h1>
      <ul class="photos gallery-parent">
        <li><a href="../img/sample1.jpg" data-title="image 1" data-footer="This is image 1" data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" data-placement="top" title="This is image 1"><img src="../img/sample1.jpg" class="img-thumbnail"></a></li>
        <li><a href="../img/sample2.jpg" data-title="image 2" data-footer="This is image 2" data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" data-placement="top" title="This is image 2"><img src="../img/sample2.jpg" class="img-thumbnail"></a></li>
        <li><a href="../img/sample3.jpg" data-title="image 3" data-footer="This is image 3" data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" data-placement="top" title="This is image 3"><img src="../img/sample3.jpg" class="img-thumbnail"></a></li>
        <li><a href="../img/sample4.jpg" data-title="image 4" data-footer="This is image 4" data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" data-placement="top" title="This is image 4"><img src="../img/sample4.jpg" class="img-thumbnail"></a></li>
        <li><a href="../img/sample5.jpg" data-title="image 5" data-footer="This is image 5" data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" data-placement="top" title="This is image 5"><img src="../img/sample5.jpg" class="img-thumbnail"></a></li>
        <li><a href="../img/sample6.jpg" data-title="image 6" data-footer="This is image 6" data-toggle="lightbox" data-gallery="mygallery" data-parent=".gallery-parent" data-hover="tooltip" data-placement="top" title="This is image 6"><img src="../img/sample6.jpg" class="img-thumbnail"></a></li>
      </ul>
    </div><!--column 8 end-->
    <div class="col-md-4">
      <div class="panel panel-default friends">
        <div class="panel-heading">
          <h3 class="panel-title">My Friends</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li><a class="thumbnail" href="profile.html"><img src="../img/user.png"></a></li>
            <li><a class="thumbnail" href="profile.html"><img src="../img/user.png"></a></li>
            <li><a class="thumbnail" href="profile.html"><img src="../img/user.png"></a></li>
            <li><a class="thumbnail" href="profile.html"><img src="../img/user.png"></a></li>
            <li><a class="thumbnail" href="profile.html"><img src="../img/user.png"></a></li>
            <li><a class="thumbnail" href="profile.html"><img src="../img/user.png"></a></li>
            <li><a class="thumbnail" href="profile.html"><img src="../img/user.png"></a></li>
            <li><a class="thumbnail" href="profile.html"><img src="../img/user.png"></a></li>
            <li><a class="thumbnail" href="profile.html"><img src="../img/user.png"></a></li>
            <li><a class="thumbnail" href="profile.html"><img src="../img/user.png"></a></li>
            <li><a class="thumbnail" href="profile.html"><img src="../img/user.png"></a></li>
            <li><a class="thumbnail" href="profile.html"><img src="../img/user.png"></a></li>
          </ul>
          <div class="clearfix"></div>
          <a class="btn btn-primary" href="#">View All Friends</a>
        </div>
      </div>
      <div class="panel panel-default groups">
        <div class="panel-heading">
          <h3 class="panel-title">Latest Groups</h3>
        </div>
        <div class="panel-body">
          <div class="group-item">
            <img src="../img/group.png">
            <h4><a href="#">Sample Group 1</a></h4>
            <p>This is a dobble sample group</p>
          </div>
          <div class="clearfix"></div>
          <div class="group-item">
            <img src="../img/group.png">
            <h4><a href="#">Sample Group 2</a></h4>
            <p>This is a dobble sample group</p>
          </div>
          <div class="clearfix"></div>
          <div class="group-item">
            <img src="../img/group.png">
            <h4><a href="#">Sample Group 3</a></h4>
            <p>This is a dobble sample group</p>
          </div>
          <div class="clear-fix"></div>
          <a class="btn btn-primary" href="#">View All Groups</a>
        </div>
      </div>
    </div>
  </div>
</div>

</section>